/* CSS declarations go here */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #19aa8d;
}

::selection {
    color: white; 
    background: #19aa8d;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background: #F3F3F4!important;

}

a {
  color: #23c6c8;
}

a:hover {
  color: #41697D;
  text-decoration: none;
}

#dash_head {
  background-color: #2f4050;
  width: 100%;
}

#dash_profile {
  display: block;
  margin: 1em;
  padding: 1em 0 2em 0;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

#dash_profile_image {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 3px solid rgba(255,255,255,.5);
  margin-bottom: 1em;
}

#dash_profile_name {
  display: block;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

#dash_profile_function {
  font-size: 13px;
}

#dash_aside {
  color: #a7b1c2;
  height: 100vh;
  background-color: #2f4050;
  width: 220px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#dash_menu ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

#dash_menu ul li {
  list-style: none;
  padding: 1em;
  font-weight: bold;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

#dash_menu a {
  color: #a7b1c2;
  text-decoration: none;
}

#dash_menu li:hover {
  color: white;
  background-color: #293846;
  border-left: 4px solid #19aa8d;
}

#dash_menu i {
  margin-right: 1em;
  min-width: 16px;
}

#dash_yield {
  margin-left: 1em;
}

#plein_chart{
    max-height:400px;
    max-width:800px;
}

.container{
    display:flex;
    width:100%;
}

#newsfeed{
    margin-left:1em;
}