/* CSS declarations go here */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #19aa8d;
}

::selection {
    color: white; 
    background: #19aa8d;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background: #F3F3F4!important;


}

main#dash_yield {
  margin-left: 2em;
  padding: 0 0 0 220px;
}

a {
  color: #23c6c8;
}

a:hover {
  color: #41697D;
  text-decoration: none;
}

#dash_head {
  background-color: #2f4050;
  width: 100%;
}

#dash_profile {
  display: block;
  margin: 1em;
  padding: 1em 0 2em 0;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

#dash_profile_image {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 3px solid rgba(255,255,255,.5);
  margin-bottom: 1em;
}

#dash_profile_name {
  display: block;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

#dash_profile_function {
  font-size: 13px;
}

#dash_aside {
  color: #a7b1c2;
  height: 100vh;
  background-color: #2f4050;
  width: 220px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position:fixed;
  left:0;
}

#dash_menu ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

#dash_menu ul li {
  list-style: none;
  padding: 1em;
  font-weight: bold;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

#dash_menu a {
  color: #a7b1c2;
  text-decoration: none;
}

#dash_menu li:hover {
  color: white;
  background-color: #293846;
  border-left: 4px solid #19aa8d;
}

#dash_menu i {
  margin-right: 1em;
  min-width: 16px;
}

#plein_chart{
    max-height:400px;
    max-width:800px;
}

#newsfeed{
    margin-left:1em;
}

#charts_datepicker button {
  background: #d1dade;
  color: #5e5e5e;
  border: none;
  padding: .5em 1em;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin: 1em 0;
}

#charts_datepicker button:hover, #charts_datepicker button.active {
  background: #1ab394;
  color: #fff;
}

button#chart_datepicker {
  background: #1c84c6;
  color: white;
}

@media all and (max-width: 1250px){
    #plein_chart{
        max-width:600px;
        max-height:400px;  
    }
}

@media all and (max-width: 1050px){
    #plein_chart{
        max-width:400px;
        max-height:400px;  
    }
}

@media all and (min-width: 1250px){
    #plein_chart{
        max-height:400px;
        max-width:800px;
    }
}

.submit-title input.text {
  padding: .2em .4em;
  border: 1px solid #e5e6e7;
}

.submit-title label {
  display: block;
}

.submit-title input {
  margin-bottom: 2em;
}

.button {
  background: #1ab394;
  color: #fff;
  border: none;
  padding: .5em 1em;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.button:hover {
  background: #148f76;
}

#newsfeed ul li {
  
  flex-basis: 25% ;
  background: white;
  padding: 1em;
  border-top: 5px solid #e7eaec;
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
  box-shadow: 0 0 10px 5px rgba(0,0,0,.01);
  margin-top:1em;
  
  transition:all .2s;
}

#newsfeed ul {
    list-style: none;
    padding: 0 0;

}


