.template-plein_detail-wrapper {
	margin-top:16em;
	
}
h1 {
	color:#19aa8d;
}

.template-plein_detail-wrapper header {
	position:absolute;
	left:220px;
	top:0;
	width:calc(100% - 220px);
	height:15em;
	overflow:hidden;
	
}

.template-plein_detail-wrapper header img {
	min-width:100%;
	min-height:100%;
	object-position:0 -40px;
	
}

#pl_events {
	border-top: 1px solid #e7eaec;
	max-width:40em;

}
#pl_events ul {
	list-style:none;
	padding:0 0;
	
}
#pl_events p {
	max-width:30em;
}
#pl_events ul li {
	
	flex-basis: 25% ;
	background: white;
	padding: 1em;
	border-top: 5px solid #e7eaec;
	-webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
	box-shadow: 0 0 10px 5px rgba(0,0,0,.01);
	margin-top:1em;
	
	transition:all .2s;
}
#pl_events ul li:hover {
	border-left: 4px solid #19aa8d;
}
#pl_events ul li span { 
	float:right;
	color:#2f4050;
}

#pl_events form {
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
	padding-top:2em;
	padding-bottom:.5em;
	border-bottom: 1px solid #e7eaec;
}
#pl_events form input {
	box-sizing:border-box;
	border:none;
	margin:.2em;
	padding:.3em;
	

}
#pl_events form input[type='text']:focus{
	outline:2px solid #19aa8d;
	
}
#pl_events form input[type='text'] {
	flex-basis:45%;
}

#pl_events form input[type='date'] {
	flex-basis:45%;
}

#pl_events form input[type='submit'] {
	background-color: #19aa8d;
	
	color:white;
	flex-basis:10%;
	
}

.pl_meldingen {
	transition: all .2s ease-in-out;
}

.pl_meldingen ul {
	padding: 0 0;
	list-style:none;

}
.pl_meldingen ul li {
	max-width:40em;
	position:relative;
	padding:0 0;
	background:white;
	text-align:right;
	border-top: 5px solid #e7eaec;
	margin-top:1em;
	
	
}
.pl_meldingen ul li span {
	display:inline-block;
	margin:.5em 1em;
	margin-bottom:1em;
	border-bottom:1px solid #19aa8d;

}
.pl_meldingen ul li > p {
	display:inline-block;
	margin: 0 0;
	text-align:left;
	float:left;
	padding: .5em 0 .5em 1em;
}
.pl_meldingen ul li em {
	height:100%;
	float:left;
	display:inline-block;
	margin: 0 0;
	background-color:#19aa8d;
	color:white;
	font-style:normal;
	width:7em;
	text-align:center;
	padding:.5em;
	padding-bottom:1em;
}
.pl_meldingen ul li.event span {
	margin-right:3.5em;
}
.pl_meldingen .arrow_icon {
	float:right;
	display:inline-block;
	margin:.5em;
	width:1.5em;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	transition: all .2s ease-in-out;
}
.pl_meldingen article {
	max-height:0;
	overflow:hidden;
	transition: all .2s ease-in-out;
	box-sizing:border-box;
	
}
.pl_meldingen article p {
	padding:.5em 1em;
	text-align:left;
	
}

.pl_meldingen .article_show  {
	max-height:10em;
	
}
.pl_meldingen .icon_turn img {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}