.pl_item {
	background: white;
	padding-top: 15px;
	border-top: 5px solid #e7eaec;
	-webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
	box-shadow: 0 0 10px 5px rgba(0,0,0,.01);
}
.pl_item header {
	border:1px solid red;
	
	
}
.pl_item header img {
	max-width:100%;
	max-height:100%;
	
}