#profile_settings {
	
	width:30em;
}
#profile_settings form {
	margin-top:3em;
	display:flex;
	flex-wrap:wrap;
}
#profile_settings form input {
	
}
#profile_settings form label {
	flex-basis:20%;
	margin:0 0;
	padding:.5em;
	height:100%;
}
#profile_settings input[type='text'] {
	flex-basis:80%;
	padding:.5em;
}
#profile_settings input[type='file'] {
	padding:.5em;
}
#profile_settings input[type='submit'] {
	padding:.5em 2em;
}