#profile_settings {
	border:1px solid green;
	width:30em;
}
#profile_settings form {
	border:1px solid blue;
	display:flex;
}
#profile_settings form input {
	
}
#profile_settings input[type='text'] {
	width:100%;	
}